p {
  margin: 0;
  font-size: 17px;
}
.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, crimson, #e639f7);
}
.container {
  width: 21%;
  height: 65%;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header {
  margin-top: 60px;
}
.username {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 3.5px;
}
.password {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  gap: 3.5px;
}
.input {
  width: 90%;
  height: 35px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  color: grey;
}
.underline {
  background-color: lightgrey;
  width: 100%;
  height: 2.5px;
}
.iconputter {
  width: 100%;
  display: flex;
  align-items: center;
}
.icon {
  width: 10%;
  color: lightgray;
  font-size: 24px;
}
.Signup {
  width: 75%;
  height: 45px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  background-image: linear-gradient(to right, aqua, #e639f7);
  color: white;
}
.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.underlast {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
  margin-top: 10px;
}