.outer {
  width: 100vw;
  height: 100vh;
  background-color: #808bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1500px;
  height: 95%;
  background-color: #00254b;
  border-radius: 35px;
  display: flex;
}
.leftcont {
  width: 17.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-right: 1px solid lightslategray;
  background-color: #00254b;
}
.logo {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 35px;
  padding-left: 10%;
}
.leftmiddle {
  width: 100%;
  height: 30%;
  padding-left: 10%;
  line-height: 35px;
  color: lightslategrey;
}
.leftmiddle2 {
  width: 100%;
  height: 30%;
  padding-left: 10%;
  line-height: 35px;
  color: lightslategrey;
}
.leftfooter {
  width: 100%;
  height: 30%;
  padding-left: 10%;
  line-height: 35px;
  color: lightslategrey;
}
.leftHeader {
  color: white;
  font-size: 21px;
  margin-bottom: 25px;
}
.myalbum {
  text-decoration: none;
}
.hover:hover {
  color: aqua;
  transition: 500ms;
}
.leftwordstop:hover > .glow {
  transition: 300ms;
  opacity: 1;
}
.leftwordsmiddle:hover > .glow {
  transition: 300ms;
  opacity: 1;
}
.leftwordsbottom:hover > .glow {
  transition: 300ms;
  opacity: 1;
}
.leftglow {
  width: 4px;
  height: 25px;
  background-color: aqua;
  position: absolute;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: -27px;
  box-shadow: 0px 0px 50px 10px lightskyblue;
  opacity: 0;
  transition: 300ms;
}
.leftwordstop {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 500ms;
}
.leftwordsmiddle {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 500ms;
}
.leftwordsbottom {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 500ms;
}
.lefticons {
  width: 20px;
  height: 20px;
}
.right {
  width: 82.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.righttop {
  width: 95%;
  height: 20%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: linear-gradient(to right, aqua, blueviolet, pink, red);
}
.input {
  height: 30px;
  background-color: transparent;
  border: 2px solid black;
  border-right: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  color: white;
  outline: none;
}
.FiSearch {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}
.searchand {
  display: flex;
  align-items: center;
}
.addbtncont {
  margin-right: 100px;
}
.addbtn {
  height: 36.53px;
  width: 72px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid black;
  font-size: 18px;
  color: black;
}
.middle {
  display: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}
.middlecont {
  width: 95%;
  height: 70%;
  padding-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 30px;
  background-color: aqua;
  border-radius: 10px;
}
.cardimg {
  width: 100%;
  height: 60%;
}
.cardname {
  width: 100%;
  color: white;
}
.cardmadeby {
  width: 100%;
  color: white;
}
.cardimgin1 {
  width: 100%;
}
